/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:"微軟正黑體";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: url('../images/body_bg.gif');
}
.clear{
	clear: both;
}
img{
	max-width: 100%;
}
.wrap{
	max-width: 984px;
	width: 100%;
	margin: 0 auto;
}
.header{
	max-width: 984px;
	width: 100%;
	padding-top: 30px;
}
.header h1{
	float: left;
	margin-bottom: 30px;
}
.header h1 a{
	display: block;
	width: 441px;
	height: 67px;
	text-indent: -99999px;
	background: url('../images/logo.png');
}
ul.menu{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
ul.menu>li{
	display: block;
	position: relative;
	margin-right: 15px;
	padding-bottom: 10px;
	float: left;
	font-size: 18px;
}

ul.menu>li>a{
	display: block;
	padding-left: 35px;
	background: url('../images/menu_border.png') left no-repeat;
	color: #000;
	text-decoration: none;
}

ul.menu>li:first-child>a{
	background: none;
	padding-left: 30px;
}

ul.menu>li>a:hover{
	color: #00ADB5;
}

ul.menu li ul {
    background: #4B4848;
	border-radius: 3px;
    padding: 10px;
	white-space: nowrap;
    display: none;
    position: absolute;
    left: 25%;
    top: 100%;
}

ul.menu li ul li{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

ul.menu li ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

ul.menu li ul li a:hover{
	color: #00ADB5;
}

ul.menu li:hover ul {
    display: block;
    z-index: 1;
}

ul.social_nav{
	display: block;
	float: right;
}
ul.social_nav li{
	float: left;
}

.slider{
	overflow: hidden;
	margin-bottom: 30px;
	max-width: 984px;
	width: 100%;
	max-height: 300px;
	height: 33%;
	border-radius: 3px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
	z-index: 0;
}

.event{
	overflow: hidden;
	padding: 50px 50px 30px;
	background: #fff;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
   	margin-bottom: 30px;
}

@media screen and (max-width:768px){
	.event{
		padding: 30px 30px 10px;
	}
}

@media screen and (max-width:320px){
	.event{
		padding: 20px 20px 5px;
	}
}

.event h2{
	font-size: 20px;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background: url('../images/event_border.svg') left no-repeat;
}

.event ul{
	padding: 25px 20px 15px 20px;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
}
.event li{
	margin-bottom: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.event p{
	float: left;
	font-size: 12px;
}
.event a{
	color: #000;
	text-decoration: none;
}
.event a:hover{
	color: #00ADB5;
}

.event_left{
	float: left;
	margin: 0 2.5%;
	width: 45%;
}
.event_right{
	float: left;
	margin: 0 2.5%;
	width: 45%;
}

.content {
	overflow: hidden;
	padding: 30px;
	background: #fff;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
   	margin-bottom: 30px;
   	position: relative;
}

.content h2 {
	font-size: 20px;
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 25px;
	background: url('../images/event_border.svg') left no-repeat;
	border-bottom: 0.5px solid #5BC1CF;
	font-weight: bold;
}

.content p {
	font-size: 16px;
	line-height: 35px;
	letter-spacing: 1px;
}

.date {
	position: absolute;
	top: 120px;
	right: 40px;
	font-size: 14px;
	color: #737171;
}
/**/
.choose{
	overflow: hidden;
	padding: 10px;
	background: #fff;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
    border-radius: 3px;
   	margin-bottom: 15px;
   	position: relative;
}
.choose_c {
	line-height: 16px;
	font-size: 16px;
	color: #737171;
	letter-spacing: 1px;
	margin:10px 0px 15px 135px;
	padding:10px 10px 10px 10px;
	overflow: hidden;
}

.breadcrumb {
 	font-size: 13px;
 	color: #737171;
 	letter-spacing: 1px;
 	margin-bottom: 15px;
 	margin-left: 10px;
 	overflow: hidden;
}

.breadcrumb li {
 	float: left;
 	margin-right: 5px;
}

.breadcrumb img {
 	height: 12px;
 	margin-right: 1px;
}

.breadcrumb a {
 	color: inherit;
}

.breadcrumb a:hover {
 	color: #5BC1CF;
}

.profile {
	width: 18.5%;
	margin: 28px;
	display: inline-block;
}

.profile h3 {
	font-size: 18px;
	margin: 10px 0;

}

.profile span {
	font-weight: 700;
	font-size: 10px;
}

.photo {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/**/
.choose{
	overflow: hidden;
	padding: 10px;
	background: #fff;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
    border-radius: 3px;
   	margin-bottom: 15px;
   	position: relative;
}
.choose_c {
	line-height: 16px;
	font-size: 16px;
	color: #737171;
	letter-spacing: 1px;
	margin:10px 0px 15px 135px;
	padding:10px 10px 10px 10px;
	overflow: hidden;
}

.choose_c li {
	float: left;
	margin-right: 15px;
	margin-left: 5px;
}

.choose_c img {
	height: 25px;
	margin-right: 10px;
	padding-top: 6px;
}

.choose_c input[type="checkbox"] {
    display: none;
}

.choose_c input[type="checkbox"] + label {
    display: inline-block;
    background-color: #ccc;
    cursor: pointer;
    width:125px;
    text-align: center;
    padding:6px 6px;
    color:black;
    border-radius: 10px;
    box-shadow:1px 2px 2px 2px gray;
}
.choose_c input[type="checkbox"]:hover+label:hover {
    color:white;
}
.choose_c input[type="checkbox"]:checked + label {
    background-color: #59B0BA;
    color:white;
    box-shadow:1px 2px 2px 2px #006F94 inset;
}

.choose_t {
	line-height: 16px;
	height: 40px;
	font-size: 16px;
	color: #737171;
	letter-spacing: 1px;
	margin-bottom: 15px;
	padding:10px 10px 10px 10px;
	overflow: hidden;
	margin-left: 120px;
}

.choose_t li {
	float: left;
	margin-right: 5px;
	margin-left: 15px;
}

.choose_t img {
	height: 25px;
	margin-right: 10px;
	padding-top: 6px;
}

.choose_t input[type="checkbox"] {
    display: none;
}

.choose_t input[type="checkbox"] + label {
    display: inline-block;
    width:60px;
    text-align: center;
    background-color: #ccc;
    cursor: pointer;
    padding:6px 6px;
    color:black;
    border-radius: 10px;
    box-shadow:1px 2px 2px 2px gray;
}
.choose_t input[type="checkbox"]:hover+label:hover {
    color:white;
}
.choose_t input[type="checkbox"]:checked + label {
    background-color: #053D85;
    color:white;
    box-shadow:1px 2px 2px 2px #002269 inset;
}
/*content*/
.class_content ul{
	padding: 15px 20px 15px 20px;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
}
=======
.choose_c li {
	float: left;
	margin-right: 15px;
	margin-left: 5px;
}

.choose_c img {
	height: 25px;
	margin-right: 10px;
	padding-top: 6px;
}

.choose_c input[type="checkbox"] {
    display: none;
}

.choose_c input[type="checkbox"] + label {
    display: inline-block;
    background-color: #ccc;
    cursor: pointer;
    width:125px;
    text-align: center;
    padding:6px 6px;
    color:black;
    border-radius: 10px;
    box-shadow:1px 2px 2px 2px gray;
}
.choose_c input[type="checkbox"]:hover+label:hover {
    color:white;
}
.choose_c input[type="checkbox"]:checked + label {
    background-color: #00ADB5;
    color:white;
    box-shadow:1px 2px 2px 2px #006F94 inset;
}

.choose_t {
	line-height: 16px;
	height: 40px;
	font-size: 16px;
	color: #737171;
	letter-spacing: 1px;
	margin-bottom: 15px;
	padding:10px 10px 10px 10px;
	overflow: hidden;
	margin-left: 120px;
}

.choose_t li {
	float: left;
	margin-right: 5px;
	margin-left: 15px;
}

.choose_t img {
	height: 25px;
	margin-right: 10px;
	padding-top: 6px;
}

.choose_t input[type="checkbox"] {
    display: none;
}

.choose_t input[type="checkbox"] + label {
    display: inline-block;
    width:60px;
    text-align: center;
    background-color: #ccc;
    cursor: pointer;
    padding:6px 6px;
    color:black;
    border-radius: 10px;
    box-shadow:1px 2px 2px 2px gray;
}
.choose_t input[type="checkbox"]:hover+label:hover {
    color:white;
}
.choose_t input[type="checkbox"]:checked + label {
    background-color: #1972A4;
    color:white;
    box-shadow:1px 2px 2px 2px #1156A4 inset;
}
/*content*/
.class_content ul{
	padding: 15px 20px 15px 20px;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
}
.class_content li{
	margin-bottom: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.class_content p{
	float: left;
	font-size: 12px;
}
.class_content a{
	color: #000;
	text-decoration: none;
	line-height: 35px;
	padding-left: 10px;
	font-size: 18px;
}
.class_content a:hover{
	color: #00ADB5;
}
/*top is added*/

.blue {
	color: #0068c3;
}

@media screen and (max-width:768px){
	.event_left, .event_right{
		width: 95%;
		margin: 0 2.5%;
		float: none;
	}
}

@media screen and (max-width:320px){
	.event_left, .event_right{
		width: 98%;
		margin: 0 1%;
		float: none;
	}
}

.footer{
	background: #4B4848;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 20px;
	color: #aaa;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
}
